 #app{
   width: 100%;
   height: 100%;
   
}

 .wtx-laboratory{
    position: relative;
    height: 185px;
    box-sizing: border-box;
    background: url(../images/class3.jpg) no-repeat ;
    box-shadow:0px 0px 5px 0px #ccc ;
   
} 
.inner {
    /* background: #07daa5; */
    padding: 1em;
    /* border-radius: 10px; */
    width: 200px;
    position: absolute;
    top: -1px;
    right: 0px;
    clip-path: circle(55% at 112% -30%);
    transition: all 0.5s ease-in-out;
    cursor: pointer;
  }
  .inner:hover {
    clip-path: circle(75%);
    background-color: black;
    color: #fff;
    opacity: 0.6;
  }
  .inner span {
    float: right;
    color:#ccc;
    font-weight: bold;
    transition: color 0.5s;
    position: relative;
    margin-right: 4%;
  }
  .inner:hover span {
    color: #00b6ff;
  }
 
.laya{
    
    padding: 20px;box-sizing: border-box;
}
.wtx-laboratory i{
    position: absolute;
    top: -4px;
    left: -17px;
   
    font-size: 50px;
}
.active{
    color: #FF5722;
    
}

.wtx-laboratory-msg{
    /* background-color: rgba(105,101,101,.6); */
    background-color: black;
    color: #fff;
    opacity: 0.6;
    /* width: 50%; */
    width: 0px;
    height: 100%;
    float: right;
    clear: right;
}
.wtx-laboratory-text{
    height: 20px;
    width: 100%;
    padding: 15.8px;
    box-sizing: border-box;
}
/* .echarts3{
    width: 580px;
    height:340px;
    margin-left: 50px;
} */
